.navbar-brand span{
    font-weight: 900;
}

.navbar-brand img{
    animation: rotation 5s infinite linear;
}

#main {
    height: 80vh;
    width: 100%
}

.login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    padding: 40px;
    border: 1px solid lightsteelblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box img{
    height: 75px;
    animation: rotation 5s infinite linear;

}

.login-box h3{
    text-align: center;
}

.login-form input{
    margin-bottom: 10px;
    width: 250px;
}

.login-form .btn{
    font-size: 12px;
    font-weight: 900;
    padding: 10px 0;
    width: 100%;
    border-radius: 25px;
}

.profile-box {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-box img{
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50%;
}

.profile-box h4{
    font-weight: 900;
    width: 60%;
    text-align: center;
    margin: 10px 0;
}

.movie-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-box h3{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.movie-box img{
    border: 1px solid lightgray;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: 350px;
}

.movie-list{
    margin-bottom: 20px;
}

.pic-box {
    background-color: lightgray;
    padding: 20px;
}

.movie-list .pic-box img{
    width: 100%;
    border: 1px solid lightgray;
}



@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}